.navbar{
  margin-bottom: 0px;
  a{
    color: set-text-color($main-color) !important;
  }
  .nav-item{
    @include hover-focus{
      background-color: darken($main-color, 6%);
    }
  }

}

.showcase{
  color: white;
  background: url(../img/circuit.jpg) no-repeat;
  height: 600px;
  padding: 30px 0;

  h1{
    font-size: 60px;
  }

  .container{
    background: #000;
    opacity: 0.8;
    padding: 20px 30px 30px 30px;
  }
}

.section-a{
  padding: 30px 0;
  text-align: center;

  background: $main-color;
  color: set-text-color($main-color);

  .fa{
    font-size: 60px;
  }
}

.section-b{
  background-color: darken(#564a32,2%);
  img{
    width: 100%;
    opacity: 0.9;
    margin: 30px 0;
  }
  #accordion{
    margin: 30px 0;
  }
}


.section-c{
  padding: 60px 0;
  text-align: center;
  background: $main-color;
  color: set-text-color($main-color);

  .btn-primary{
    background: darken($main-color, 10%);
  }
  hr{
    border-color: set-text-color($main-color) !important;
  }

}
.card-header h5 a{
  background-color: $main-color;
  color: set-text-color($main-color) !important;
}
.card-header{
  color: black;
  font-size: 20px;
}

.main{
  margin: 30px 0;
  .card .card{
    margin: 20px 0;
    background: $gray-200;
  }

  form button{
    margin-top: 15px;
    :hover {
      background: $gray-300;
    }
  }
}

.title-bar{
  color: white !important;
  background: url(../img/circuit.jpg) no-repeat 0 -520px;
  padding-bottom: 10px;
  border-bottom: 4px solid $main-color;
  h1{
    padding-top: 15px;
    padding-bottom: 0px;
  }
}

.modal-header{
  color: set-text-color($main-color) !important;
  span{
    color: set-text-color($main-color) !important;
  }
}
.modal-body{
  img{
    width: 100%;
    margin-bottom: 10px;
  }
}

footer{
  padding: 30px;
  color: set-text-color($main-color);
  background: darken($main-color, 10%);
}

//Putting this here since it kinda exists outside of the variables
@include bg-variant('.bg-main', $main-color)
