extends layout

block content
  
  // Showcase
  .showcase
    .container
      h1 Got Kitties?
      p irure illum summis fugiat malis labore summis quis irure culpa veniam nisi enim cillum illum veniam ipsum eram summis amet illum quis irure dolore irure nulla velit fore aliqesse veniam quorum quae culpa esse cillum elit nisi sunt velit dolor enim magna multos enim culpa noster elit nulla elit
      a.btn.btn-primary(href="/views/about") Read More 

  .section-a
    .container 
      .row
        .col-md-4
          i.fa.fa-html5
          h3 Clean and Simple Kitties
          p irure illum summis fugiat malis labore summis quis irure culpa veniam nisi enim cillum illum veniam ipsum eram summis amet illum
        .col-md-4
          i.fa.fa-gear
          h3 Sass Cat-Compiler
          p irure illum summis fugiat malis labore summis quis irure culpa veniam nisi enim cillum illum veniam ipsum eram summis amet illum
        .col-md-4
          i.fa.fa-lightbulb-o
          h3 Catstimizable
          p irure illum summis fugiat malis labore summis quis irure culpa veniam nisi enim cillum illum veniam ipsum eram summis amet illum


  .section-b
    .container
      .row
        .col-md-6
          #accordion(role="tablist")
          .card
          .card-header(role="tab" id="headingOne")
            h5.mb-0
              a(data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne") Collapsible Cat Toy #1

            .collapse.show(id="collapseOne"  role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion")
              .card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

          .card
            .card-header(role="tab" id="headingTwo")
              h5.mb-0
                a.collapsed(data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Collapsible Cat Toy #2
      
            .collapse(id="collapseTwo"  role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion")
              .card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

          .card
            .card-header(role="tab" id="headingThree")
              h5.mb-0
                a.collapsed( data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree") Collapsible Cat Toy #3

            .collapse(id="collapseThree" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion")
              .card-body Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

        .col-md-6
          img(src="img/smallcat.jpeg")
            
  
            
            
            
            
            
            
            
