doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv:"X-UA-Compatible" content="IE-edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Tony J. Bailey
    //link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel="stylesheet" href="/css/app.css")
    body
    nav.navbar.navbar-expand-md.navbar-dark.bg-main
      a.navbar-brand(href="/") Tony J. Bailey
      button.navbar-toggler(type="button" data-toggle-collapse data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
      
      .collapse.navbar-collapse(id="navbarsExampleDefault")
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href="/") Home
              span.sr-only (current)
          li.nav-item.active
            a.nav-link(href="/views/about") About
          li.nav-item.active
            a.nav-link(href="/views/portfolio") Portfolio
          li.nav-item.active
            a.nav-link(href="/views/contact") Contact
            
    
    block content
        
    .section-c
      .container
        .row
          .col-md-2
    
          .col-md-8
            h2 Check me out on Github or Connect on LinkedIn!
            a.fa.fa-github-square(href="http://github.com" style="font-size:60px;")
            a.fa.fa-linkedin(href="http://Linkedin.com" style="font-size:60px;") 
            a.btn.btn-lg.btn-primary(href="#") Resume
    
    footer
      .container
        p Copyright &copy; 2017
    script(src='/scripts/js/jquery/dist/jquery.min.js')
    script(src='/scripts/js/popper/dist/umd/popper.min.js')
    script(src='/scripts/js/bootstrap.min.js')
