mixin project
  .card
    img.card-img-top(src="/img/smallcat.jpeg" alt="Card Image cap")
    .card-body
      h3.card-title Kitty Cat
      p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
      button.btn.btn-primary(type="button" data-toggle="modal" data-target="#exampleModal") Read More

      // Modal
      .modal.fade(id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header
              h5.modal-title(id="exampleModalLabel") Modal title
              button.close(type="button" data-dismiss="modal" aria-label="Close")
                span(aria-hidden="true") &times;

            .modal-body 
              img(src="/img/smallcat.jpeg")

            .modal-footer
              button.btn.btn-secondary(type="button" data-dismiss="modal") Close
              button.btn.btn-primary(type="button") Save changes
