extends layout

block content

  .title-bar
    .container
      block title
      
  .main
    .container
      .row
        .col-md-8
          block info
        .col-md-4
          .list-group
            a.list-group-item.list-group-item-action.active(href="#") Cras justo odio
            a.list-group-item.list-group-item-action(href="#") Cras justo odio
            a.list-group-item.list-group-item-action(href="#") Cras justo odio
            a.list-group-item.list-group-item-action(href="#") Cras justo odio
            a.list-group-item.list-group-item-action(href="#") Cras justo odio
            a.list-group-item.list-group-item-action(href="#") Cras justo odio
          
        
